<!DOCTYPE html>
<html>
<head>
  <title>Elohell</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <header>
 	<div class="col-xs-3">
 	 <%= link_to root_path, :class => 'logo' do %>
 	 <div class="circle">
  		<br />
  			Why you're
  		<br />
  			still in
  		<br />
  			ELOHELL
	 </div>
	 <% end %>
 	</div>
 	<div class="col-xs-4 hidden-xs slogan">
      Reasons why you're still in bronze league
 	</div>
 	<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-5 links">
 	  <!-- Button trigger modal -->
    <%= link_to 'Contribute', '#', :data => {:toggle => 'modal', :target => '#myModal'} %>
    &nbsp;&nbsp; 
 	  <%= link_to 'About', about_path %>	
 	</div>

 </header>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">League of Legends can be a better game with less idiots.</h4>
        </div>
        <%= simple_form_for Quote.new do |f| %>
        <div class="modal-body">       
            <%= f.input :saying, :label => "Reasons why you suck at League of Legends.", :placeholder => "I bring ignite as a support." %>
            <br />
            <%= f.input :author, :label => "Name", :placeholder => "FakerIsMySenpai" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Create', :class => 'btn btn-danger' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

 <hr />
 <br class="clear" />
<div class="container">
    <% if flash[:error].present? %>
      <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
    <br class="clear" />
    <%= yield %>
  </div>

  

<div class="footer">
	<div class="container">
		<div class="col-xs-12 col-sm-6">
			<%= link_to "I know this all too well, what else?", root_path, :class => 'next-quote' %>
		</div>
		<div class="col-xs-12 col-sm-6 footer-blurb">
			Created in NYC by <a href="https://github.com/vincentchin">Vincent Chin</a>
		<br />
			Want to build your own Splurty Web App <a href="http://thefirehoseproject.com">Learn how to code here</a>

		</div>
	</div>
</div>

</body>
</html>
